<p>user works!</p>
<h1>Simplest If Format Example</h1>
<p *ngIf="isLoggedIn">You are logged in by entering username and password.</p>
<p *ngIf="!isLoggedIn">You are not logged in!! Please enter credentials.</p>

<h1>Second Way: if -else</h1>
<p *ngIf="isLoggedIn; else notLoggedin">Welcome you are logged in!!</p>
<ng-template #notLoggedin>
<p>You have not logged in yet!!!!!</p>
</ng-template>

<h1>Third way--- if then else</h1>
<div *ngIf="isLoggedIn;then loggedin; else notloggedin"></div>
<ng-template #loggedin>
    <div [ngSwitch]="userrole">

<p *ngSwitchCase="'Admin'">You have logged in successfully as a Admin, so you have full privileges </p>
<p *ngSwitchCase="'Super Admin'">You have logged in successfully as a Super Admin, so you admin and some extra privileges </p>
<p *ngSwitchCase="'Client'">You have logged in successfully as a Client, so you have client privileges</p>
<p *ngSwitchDefault>You have logged in successfully but no special  privileges</p>

</div>
</ng-template>

<ng-template #notloggedin>
<p>You have not logged in to the app yet!!!!</p>

</ng-template>

<hr/>
<h1>UserList</h1>
<ol>
    <li *ngFor="let u of users">
        {{u.username}} -{{u.password}}
    </li>
</ol>
<hr/>
<table style="border:1;">
    <thead>
        <tr>
            <td>Username</td>
            <td>Password</td>
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
<td>{{u.username}}</td>
<td>{{u.password}}</td>
        </tr>
    </tbody>
</table>
<hr/>
<ol>
    <li *ngFor="let f of fruits">
             {{f}}   
    </li>
</ol>