<!-- <p>customer works!</p>
<h1>{{custname}}</h1> -->
<div style="border: 5px solid green;background-color: yellow;">
<form>
   <fieldset>
         <legend>Customer Form</legend>
    <label>Enter Name</label>
    <input type="text" id="custname"/><br/>
    <label>Enter City</label>
    <input type="text" id="custcity"/><br/>
    <label>Enter State</label>
    <input type="text" id="custstate"/><br/>
    </fieldset>
</form>


<div *ngIf="showCustomers">

<table *ngIf="customers.length>0; else emptylist">
    <thead>
        <tr>
            <td>Customer ID</td>
            <td>Customer Name</td>
            <td>Customer City</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cust of customers">
            <td>{{cust.custid}}</td>
            <td>{{cust.custname}}</td>
            <td>{{cust.custcity}}</td>
        </tr>
    </tbody>
</table>

<ng-template #emptylist>
    <div>No customers in the list</div>
</ng-template>

</div>
<div *ngIf="!showCustomers">Customer list is empty</div>




</div>
